@model Online_Examination_System.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_AuthLayout";
}

<div class="text-center mb-4">
    <h1 class="h4 text-gray-900 mb-2">Create New Password</h1>
    <p class="mb-4">Your new password must be different from previous used passwords.</p>
</div>

<form class="user" asp-action="ResetPassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3 small"></div>
    
    <input type="hidden" asp-for="Email" />

    <div class="form-group mb-3">
        <input asp-for="Password" class="form-control form-control-user" placeholder="New Password" />
        <span asp-validation-for="Password" class="text-danger small"></span>
    </div>

    <div class="form-group mb-4">
        <input asp-for="ConfirmPassword" class="form-control form-control-user" placeholder="Confirm New Password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-user btn-block w-100 mb-3 fw-bold shadow-sm">
        Save Password
    </button>
</form>

<hr>
<div class="text-center mt-2">
    <a class="small text-decoration-none" asp-action="Login">Back to Login</a>
</div>
